{% extends "base.html" %}
{% block content %}
<div class="container py-5">
  <article>
    <div class="col d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text">{{ item.description }}</p>
          <p class="card-text">${{ item.get_price_in_dollars }}</p>
          <button class="btn btn-primary" id="checkout-button">Checkout</button>
        </div>
      </div>
    </div>
    </br>
  </article>
</div>
{% csrf_token %}

<script type="text/javascript">
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    let stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");
    let checkoutButton = document.getElementById("checkout-button");
    checkoutButton.addEventListener("click", function () {
        fetch("{% url 'create-checkout-session' item.id %}", {
            method: "POST",
            headers: {
                'X-CSRFToken': csrftoken
            }
        })
            .then(function (response) {
                return response.json();
            })
            .then(function (session) {
                return stripe.redirectToCheckout({sessionId: session.id});
            })
            .then(function (result) {
                if (result.error) {
                    alert(result.error.message);
                }
            })
            .catch(function (error) {
                console.error("Error:", error);
            });
    });
</script>
{% endblock %}